$bg-color: rgba(226, 226, 226, .8);

$p-color: rgb(141, 141, 141);

$box-color: rgba(202, 202, 202, .8);

$primary: rgb(65, 185, 131);

$input-color: rgba(212, 212, 212, .3);
$input-text: rgba(180, 180, 180, .8);

$button-primary: rgb(65, 185, 131);
$button-primary-ligthen: rgb(94, 216, 161);
$button-back: rgb(0, 0, 0);
$button-back-lighten: rgb(102, 102, 102);

$smooth-shadow: 2px 9px 23px -10px rgba(0,0,0,0.05);
$smooth-shadow-hover: 2px 9px 23px -10px rgba(0,0,0,0.4);